#h01{
	font-family: sans-serif;
	font-style: italic;
}
#h02{
	font-family: serif;
	font-size: 2em;
	font-weight: normal;
}

#h03{
	font-family: monospace;
	font-size: 32px;
	font-variant: small-caps;
}