body{
	background-color: #EEEEEE;
	background-image: url(background_image.jpg);
	background-repeat: no-repeat;
	background-size:;
	background-position: top left;
	background-attachment: fixed;
}

p.bordered{
	border-style: double;
	border-width: 3px;
	text-align: center;
	background-color: #c6538c;
	color: white;
	font-family: calibri;
	
	margin-right: 800px
}

p.bordered:hover{
	background-color: orange;
	color: green;
}