body{
	background-color: #EEEEEE;
	background-image: url(background_image.jpg);
	background-repeat: no-repeat;
	background-size:;
	background-position: top left;
	background-attachment: fixed;
}

p.bordered{
	border-style: ridge;
	border-width: 10px;
	border-color: green;
	text-align: center;
	/*background-color: #c6538c;*/
	color: black;
	font-family: calibri;
	
	/*margin-right: 800px*/
	padding-top:10px;
}

p.bordered:hover{
	background-color: orange;
	color: green;
}
