h6{
		color:green;
		font-size: 30px;
		font-family:"Comic Sans MS";
		border: 1px dotted black ;
		background-color: yellow;
		padding: 5px;
		text-align: center;
	}

#rcolor{
	color: red;
}

.rcolor{
	color: blue;
}

a:hover{
	color:black;
	font-size: 30px;
}

a:visited{
	color:red;
}

a:active{
	color:yellow;
	text-decoration: underline;
}

a:link{
	color: blue;
}