h6{
		color:green;
		font-size: 30px;
		font-family:"Comic Sans MS";
		border: 1px dotted black ;
		background-color: yellow;
		padding: 5px;
		text-align: center;
	}

p#rcolor{
	color: red;
}

.rcolor{
	color: blue;
}