h6{
		color:green;
		font-size: 30px;
		font-family:"Comic Sans MS";
		border: 1px dotted black ;
		background-color: yellow;
		padding: 5px;
		text-align: center;
	}

a#a01{
	background-color: blue;
	color: white;
	padding: 15px 25px;
	border-radius: 4px 30px;
	text-decoration: none;
}

a#a01:hover{
	background-color: orange;
	color: black;
}

#rcolor{
	color: red;
}

.rcolor{
	color: blue;
}

a:hover{
	color:black;
	background-color: red;
}

a:visited{
	color:red;
}

a:active{
	color:yellow;
	text-decoration: underline;
}

a:link{
	color: blue;
}